
@font-face {
    font-family: 'Aeonik Extended Pro TRIAL Air';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Air.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Air.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Air.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Air.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Air.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Air.svg#AeonikExtendedProTRIAL-Air') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Light.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Light.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Light.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Light.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Light.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Light.svg#AeonikExtendedProTRIAL-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Regular.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Regular.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Regular.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Regular.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Regular.svg#AeonikExtendedProTRIAL-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-LightItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-LightItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-LightItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-LightItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-LightItalic.svg#AeonikExtendedProTRIAL-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBold.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBold.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBold.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBold.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBold.svg#AeonikExtendedProTRIAL-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Black.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Black.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Black.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Black.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Black.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Black.svg#AeonikExtendedProTRIAL-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BlackItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BlackItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BlackItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BlackItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BlackItalic.svg#AeonikExtendedProTRIAL-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BoldItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BoldItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BoldItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BoldItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-BoldItalic.svg#AeonikExtendedProTRIAL-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Bold.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Bold.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Bold.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Bold.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Bold.svg#AeonikExtendedProTRIAL-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Medium.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Medium.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Medium.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Medium.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Medium.svg#AeonikExtendedProTRIAL-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-RegularItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-RegularItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-RegularItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-RegularItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-RegularItalic.svg#AeonikExtendedProTRIAL-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL Air';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-AirItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-AirItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-AirItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-AirItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-AirItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-AirItalic.svg#AeonikExtendedProTRIAL-AirItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-MediumItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-MediumItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-MediumItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-MediumItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-MediumItalic.svg#AeonikExtendedProTRIAL-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL Air';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Air.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Air.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Air.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Air.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Air.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Air.svg#AeonikFonoProTRIAL-Air') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Thin.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Thin.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Thin.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Thin.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-Thin.svg#AeonikExtendedProTRIAL-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Black.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Black.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Black.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Black.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Black.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Black.svg#AeonikFonoProTRIAL-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Thin.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Thin.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Thin.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Thin.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Thin.svg#AeonikFonoProTRIAL-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Regular.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Regular.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Regular.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Regular.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Regular.svg#AeonikFonoProTRIAL-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-SemiBold.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-SemiBold.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-SemiBold.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-SemiBold.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-SemiBold.svg#AeonikFonoProTRIAL-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Bold.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Bold.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Bold.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Bold.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Bold.svg#AeonikFonoProTRIAL-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-ThinItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-ThinItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-ThinItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-ThinItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-ThinItalic.svg#AeonikExtendedProTRIAL-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Light.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Light.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Light.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Light.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Light.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Light.svg#AeonikFonoProTRIAL-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Extended Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBoldItalic.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBoldItalic.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBoldItalic.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBoldItalic.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikExtendedProTRIAL-SemiBoldItalic.svg#AeonikExtendedProTRIAL-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Fono Pro TRIAL';
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Medium.eot');
    src: url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Medium.woff2') format('woff2'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Medium.woff') format('woff'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Medium.ttf') format('truetype'),
        url('https://fonts.cristianobleve.com/aeonik/aeonikextended/AeonikFonoProTRIAL-Medium.svg#AeonikFonoProTRIAL-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Regular.eot');
    src: url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Regular.woff2') format('woff2'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Regular.woff') format('woff'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Regular.ttf') format('truetype'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Regular.svg#Aeonik-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik';
    src: url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Bold.eot');
    src: url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Bold.eot?#iefix') format('embedded-opentype'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Bold.woff2') format('woff2'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Bold.woff') format('woff'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Bold.ttf') format('truetype'),
        url('https/fonts.cristianobleve.com/aeonik/aeonik/Aeonik-Bold.svg#Aeonik-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


